#CartWithAvatarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 37px;
  justify-content: space-between;
  position: relative;
}

#CartIcon {
  position: relative;
}

#CartCount {
  position: absolute;
  top: 5px;
  right: 69px;
  padding: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 13px;
  flex-shrink: 0;
  border-radius: 6.5px;
  background: #ff7e1b;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#CartIcon {
  cursor: pointer;
}

@media (max-width: 650px) {
}
