#AllProductsPage{
    height: 90%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
  }
  
  /* Add a shadow to the scrollbar track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF7E1B;
  }